@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #e9edf6;
	scroll-behavior: smooth;
}

html,
body {
	height: 100svh;
}

*,
*::before,
*::after {
	scrollbar-width: 0px !important;
	scrollbar-color: transparent transparent !important;
}
::-webkit-scrollbar {
	width: 0px !important;
	background-color: transparent !important;
}
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background: transparent !important;
	border: 0px solid transparent !important;;
}
